@import './../../../styles/abstract/media';

.wrapper {
  .description {
    text-align: center;

    p {
      position: relative;
      display: inline-block;
      margin: 0 auto !important;

      span {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 324px;
        height: 3px;
        border-radius: 20px;

        &:first-child {
          left: -45%;
        }

        &:last-child {
          right: -45%;
        }
      }
    }
  }

  .box {
    display: grid;
    grid-template-columns: 386px 1fr;
    column-gap: 100px;
    margin-top: 51px;

    @include media('max', 'lg') {
      grid-template-columns: 200px 1fr;
      column-gap: 50px;
    }

    @include media('max', 'sm') {
      grid-template-columns: 1fr;
      column-gap: 0;
    }

    $animation-time: 0.6s;
    $icon-dimension: 72px;

    .menu {
      position: relative;
      list-style: none;
      margin-top: -32px;

      &::-webkit-scrollbar {
        display: none;
      }

      @include media('max', 'sm') {
        display: flex;
        overflow-x: auto;
        padding-bottom: 10px;
      }

      &Circle {
        width: $icon-dimension;
        height: $icon-dimension;
        transition: $animation-time;
        border-radius: 50%;
        position: absolute;

        @include media('max', 'lg') {
          display: none;
        }
      }

      &Item {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        margin-top: 32px;

        @include media('max', 'lg') {
          flex-direction: column;
        }

        @include media('max', 'sm') {
          padding: 0 25px;
          width: auto;
          padding-bottom: 10px;
        }

        * {
          cursor: pointer;
        }

        &Title {
          white-space: pre;

          &Active {
            text-decoration: underline;
          }
        }

        &Icon {
          margin-right: 6px;
          width: $icon-dimension;
          height: $icon-dimension;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: $animation-time;
          position: relative;
          z-index: 2;

          & > * {
            transition: $animation-time;
          }

          &Active {
            & > * {
              transform: scale(1.3);
            }
          }
        }

        &Border {
          position: absolute;
          right: 1.65px;
          bottom: 0;
          width: 2px;
          height: 100%;
          transition: $animation-time;
          border-radius: 20px;

          @include media('max', 'sm') {
            width: 100%;
            height: 2px;
          }

          &Active {
            right: 0;
            width: 5px;

            @include media('max', 'sm') {
              width: 100%;
              height: 5px;
            }
          }
        }
      }
    }

    .main {
      position: relative;
      overflow: hidden;
      transition: 0.4s;
      height: 100%;

      & > * {
        height: 100%;
        display: flex;
        transition: $animation-time;
      }

      .image {
        position: relative;
        width: 365px;
        height: 552px;
        margin-right: 116px;

        @include media('max', 'lg') {
          display: none;
        }
      }

      .content {
        width: 100%;
        height: 100%;
        position: relative;

        @include media('max', 'sm') {
          margin-top: 30px;
        }

        * {
          width: 100%;

          @include media('max', 'sm') {
            text-align: center;
          }
        }
      }
    }
  }
}
