@import './../../../styles/abstract/media';

.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include media('max', 'md') {
    padding-bottom: 50px;
  }

  .title {
    margin-bottom: 130px;

    @include media('max', 'md') {
      margin-bottom: 50px;
    }
  }

  .comments {
    width: calc(100% - 65px * 2);

    @include media('max', 'md') {
      width: 100%;
    }

    &Item {
      &Header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;

        @media (max-width: 1600px) {
          width: 100%;
          margin-bottom: 70px;
        }

        @include media('max', 'md') {
          margin-bottom: 60px;
        }

        &Title {
          color: var(--color-pink);
          margin-bottom: 16px;
        }

        .borderBottom {
          border-bottom-width: 1px;
          border-bottom-style: solid;
          width: calc(100% - 164px - 68px - 24px);
          margin-bottom: 10px;
        }

        .storeInformation {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-bottom: 25px;

          width: 100%;

          & > * {
            &:nth-child(1) {
              margin-right: 21px;
            }

            &:nth-child(2) {
              margin-right: 16px;
              display: flex;
              align-items: center;

              & > * {
                margin-right: 4px;
              }
            }
          }

          .stars {
            margin-left: -9px;

            & > * {
              margin-left: 9px;
            }
          }
        }
      }

      &Content {
        background-color: rgba(255, 255, 255, 0.19);
        border-radius: 30px;
        padding: 0 75px;
        position: relative;
        min-height: 500px;
        padding-top: 100px;
        padding-bottom: 20px;

        @include media('max', 'md') {
          padding-left: 60px;
          padding-right: 60px;
        }

        img {
          width: 164px;
          height: 164px;
          border-radius: 50%;
          position: absolute;
          left: 75px;
          top: calc(-164px / 2);

          @include media('max', 'md') {
            width: 120px;
            height: 120px;
            top: calc(-120px / 2);
          }
        }

        .description {
          height: 285px;
          overflow-y: auto;
        }

        .userInformation {
          margin-top: 37px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;

          @include media('max', 'lg') {
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
          }
        }
      }
    }
  }
}
