.wrapper {
  display: grid;
  column-gap: 80px;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: center;

  .content {
    position: relative;

    h2 {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    .countries {
      position: absolute;
      top: -100px;
      left: 25%;

      &Title {
        display: flex;
        align-items: center;

        & > * {
          margin-right: 11px;
        }
      }

      &Item {
        cursor: pointer;
        position: absolute;

        &1 {
          top: 0;
          left: calc(-45px + -40px);
        }

        &2 {
          top: 10px;
          left: calc(-45px + -42px + -80px);
        }

        &3 {
          top: 64px;
          left: calc(-45px + (-42px * 3) + (-52px));
        }

        &4 {
          top: calc(54px + 56px + 20px);
          left: calc(-45px + (-42px * 4) + (-52px));
        }

        &5 {
          top: calc(54px + 56px + 56px + 35px);
          left: calc(-45px + (-42px * 4) + (-52px) + -15px);
        }

        &6 {
          top: calc(54px + 56px + 56px + 56px + 35px);
          left: calc(-45px + (-42px * 4) + (-52px));
        }

        &7 {
          top: calc(54px + 56px + 56px + 56px + 56px + 35px);
          left: calc(-45px + (-42px * 3) + (-52px));
        }

        &8 {
          top: calc(54px + 56px + 56px + 56px + 56px + 56px + 35px);
          left: calc(-45px + -42px + -80px);
        }

        &9 {
          top: calc(54px + 56px + 56px + 56px + 56px + 56px + 25px);
          left: calc(-45px + -40px);
        }
      }
    }
  }

  .image {
    width: 100%;
    min-height: 593px;
    position: relative;
  }
}
