* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  background-color: #3d4158;
  max-width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #edeffa;
  transition: 0.4s;
  border-radius: 4px;

  &:hover {
    background-color: #e1e3f7;
  }

  &:active {
    background-color: #bfc1d8;
    border-radius: 12px;
  }
}

html {
  font-family: 'Segoe UI Regular';
}

body *::-webkit-scrollbar {
  border-radius: 12px;
}

html,
body {
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
}

.swiper-button-prev {
  left: 30px !important;
}

.swiper-button-next {
  right: 30px !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  display: flex !important;
  justify-content: center !important;
  align-items: center 1 !important;
  box-shadow: 0px 9px 6px #00000014 !important;

  &::after {
    color: var(--color-white);
    font-size: 25px !important;
    font-weight: bold;
  }
}

.landing-comments-section {
  .swiper-slide {
    & > * {
      padding: 0 calc(79px / 2) !important;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    border: none;

    &::after {
      font-size: 40px !important;
      font-weight: bold;
    }
  }
}

.styles_sliderItem___pn8A {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactCollapse--collapse {
  transition: height 400ms;
}
